*{
  margin: 0;
  padding: 0;
}
body{
  background-color:  #e0f3ff;
  font-family: "Poppins", sans-serif;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  width: 30%;
  height: 60%;
  margin: 5% 35%;
  border-radius: 20px;
}
.center-container{
  height: 500px;
  width: 350px;
}
.app-heading{
  padding: 4px;
  color: rgb(0, 0, 0);  
  /* text-align: center; */
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  text-transform: uppercase;
}
.input-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.input-box-todo{
  margin-left: 10px;
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border:1px solid black;
  padding-left: 10px;  
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  outline: none;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: meduim;
}
.add-btn{
  width:40px;
  height:40px;
  border-radius: 50%;
  border:none;
  background-color:#316fc1;
  color: white;
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;  
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
}
.add-btn:active{
  box-shadow: none;
}
.add-btn:hover{
  color: #f7fff1;
  background-color: #72d02a;
}
.list-container{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.list-item{
  list-style-type: none;
  /* background-color:  #ffc0cb; */
  border:2px solid rgb(161, 158, 158);
  color:rgb(0, 0, 0);
  padding:3px;
  padding-left: 5px;
  border-radius: 5px; 
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.icons{
  position: absolute;
  right: 10px;
}
.icons i{
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;   
}
.icons i:hover{
  transform: scale(1.2);  
}
.icon-delete:hover{
  color: red;
}

